.transf{
  overflow: hidden;
}
.display-img{
  height: 400px;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
}
.display-img:hover{
  transform: scale(1.1);
}
.display-title{
  font-size: 23px;
}
.d-paragrap{
  justify-content: center;
}